/* 
    Document   : galaxery
    Created on : Nov 7, 2013, 9:30:00 PM
    Author     : craiggoodsell
    Description:
*/

/*********GLOBALS**********/

@font-face {
	font-family: 'Unxgala';
    	src: url('fonts/Unxgala.ttf');
}

body{
    margin:0% auto;
    padding:0%;
    background:#000;
}

p, h1, h2, h3, h4, h5, h6{
    color:#ffffff;
}

a {
    text-decoration: none;
    color: #ff6600;
}

a:hover{
    color:#ffffff;
}

ul{
    padding:0%;
    margin:0%;
}

li{
    list-style: none;
    padding:0%;
    margin:0%;
}

h1{
    font-family: 'Unxgala';
    font-size: 1.875em;
    margin:0% auto;
    padding: 0%;
    display:inline;
    text-shadow:2px 2px #999;
}

input{
    outline:none;
}

img{
    max-width: 100%;
}


/******END GLOBALS********/
/*********Header Element*************/

#logo{
	width:42%;
	position:relative;
	left:5%;
        overflow: hidden;
}

#pageIcon{
    font-family: 'Unxgala';
    color:#ff6600;
    font-size:7.5em;
    float:left;
    line-height: 100%;
    padding: 0% 5%;
    margin: 0% auto;
    text-shadow:3px 3px #000000;
}

#pageName{
	position:relative;
	top:35px;
	left:-55px;
        width:276px;
}

header p{
    line-height: 0%;
    font-size: 0.75em;
    margin: 0% auto;
}

    /****** Nav Menu *****/

nav{
    clear:left;
}

nav a{
    margin:0 auto;
    display:block;
    height:25px;
    line-height: 25px;
}

nav a:hover{
    color:#ffffff;
}

nav li a:hover{
    background:#444444;
}

nav li{
    float:left;
    width:125px;
    text-align:center;
}

nav ul{
    width:98%;
    margin:0% auto;
}

    /*******End Nav**********/
/*******End Header**********/
/*******Main Content**********/
    /*******CTA*************/
div#cta{
    display:block;
    width:98%;
    margin:0% auto;
    text-align: center;
}

div#cta img{
    z-index: -1;
}

div#cta div#formContainer{
    display: block;
    position:relative;
    float:right;
    margin-right:0.1333333333333%;
    top: -0.444444444%;
    width:50%;
}
    
    /******END CTA*********/
    /******Section Content***/
    section{
        width:98%;
        margin:0% auto;
        overflow: hidden;
    }
    
    section article p{
		position:relative;
        width:19.111111%;
        font-size:1em;
        float:left;
        margin:0% 15px;
	margin-bottom: 40px;
    }
    
    section article aside p{
        width:19%;
        font-size:1em;
        margin:0% 15px;
        float:right;
    }
    
    .slide{
        float:right;
        margin-right:6%;
        width:16%;
        position: relative;
        top:0.04%;
    }
    /******END SECTION CONTENT**/
    /******Footer******/
    
footer{
    clear:left;
    margin:0% auto;
    overflow:hidden;
    text-align: center;
}

footer a{
    margin:0 auto;
    display:block;
    height:25px;
    line-height: 25px;
    font-size: 0.75em;
}

footer a:hover{
    color:#ffffff;
}

footer ul{
    margin:0% auto;
    overflow:hidden;
    text-align:center;
    width:50%;
} 

footer li{
    width:125px;
    text-align:center;
    display:block;
    float:left;
}

footer p {
    font-size:0.6875em;
    height: 0%;
    position: relative;
    line-height: 0%;
}

footer div{
    margin:0% auto;
    text-align:center;
}
    
    /******END FOOTER****/
    
    
    /*** CSS BUTTON ***/
    
    
    
    .myButton {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f09c65), color-stop(1, #ff6600));
        background:-moz-linear-gradient(top, #f09c65 5%, #ff6600 100%);
        background:-webkit-linear-gradient(top, #f09c65 5%, #ff6600 100%);
        background:-o-linear-gradient(top, #f09c65 5%, #ff6600 100%);
        background:-ms-linear-gradient(top, #f09c65 5%, #ff6600 100%);
        background:linear-gradient(to bottom, #f09c65 5%, #ff6600 100%);
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09c65', endColorstr='#ff6600',GradientType=0);
        */
        background-color:#f09c65;
        
        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;
        
        display:inline-block;
        color:#ffffff;
        font-family:Trebuchet MS;
        font-size:1.0625em;
        font-weight:bold;
        padding:0% 5px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #8f7f24;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff6600), color-stop(1, #f09c65));
        background:-moz-linear-gradient(top, #ff6600 5%, #f09c65 100%);
        background:-webkit-linear-gradient(top, #ff6600 5%, #f09c65 100%);
        background:-o-linear-gradient(top, #ff6600 5%, #f09c65 100%);
        background:-ms-linear-gradient(top, #ff6600 5%, #f09c65 100%);
        background:linear-gradient(to bottom, #ff6600 5%, #f09c65 100%);
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6600', endColorstr='#f09c65',GradientType=0);
        */
        background-color:#ff6600;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

    
    
    /*    Media     */
    
    /* tablet portrait to standard 960 */
@media screen and (max-width: 839px) and (min-width: 768px) {

    body{
        background: #000;
    }
    
    #logo{
        width: 30%;
        overflow: visible;
    }
    
    nav{
        width: 50%;
    }
    
    footer ul{
    width:98%;
    }
    
}
    /* Mobile landscape to tablet portrait */
@media screen and (min-width: 480px) and (max-width: 767px) {

    body{
        background: #000;
    }
    
    nav{
        width: 100%;
    }
    
    div#cta img{
        display: none;
    }
    
    div#cta div#formContainer{
        width:100%;
        text-align:center;
        margin-right: auto;
    }
    
    section article p{
        float:none;
        width: 98%;
    }
    
    section article aside p{
        float:none;
        width: 100%;
        text-align: center;
    }
    
    .slide{
        float:none;
        width:50%;
        position: relative;
        margin: 0 auto;
    }
    
    footer ul{
    width:98%;
    }
    
    #logo{
        width: 64%;
        overflow: visible;
    }
    
    #pageName{
        width: 0%;
        left: 6%;
    }
    
    #pageIcon{
        width: 0%;
    }
    
    header p{
        white-space: nowrap;
    }
}
    

    /* Mobile portrait to Mobile landscape */
@media screen and (max-width: 479px){

    
    body{
        background: #000;
    }
    
    div#cta img{
        display: none;
    }
    
    div#cta div#formContainer{
        width:100%;
        text-align:center;
        margin-right: auto;
    }
    
    section article p{
        float:none;
        width: 98%;
    }
    
    nav{
        width: 100%;
        float: left;
    }
    
    section article aside p{
        float:none;
        width: 100%;
        text-align: center;
    }
    
    .slide{
        float:none;
        width:50%;
        position: relative;
        margin: 0 auto;
    }
    
    footer ul{
    width:29%;
    }
    
    #logo{
        width: 100%;
        overflow: hidden;
    }
    
    #pageName{
        width: 100%;
        left: 6%;
    }
    
    #pageIcon{
        width: 0%;
    }
    
    header p{
        white-space: nowrap;
    }
    
}



@media screen and (min-width: 840px) and (max-width: 1075px){

    #logo{
        width: 27%;
        overflow: hidden;
    }
    
}

@media screen and (min-width: 1075px){

    #logo{
        width: 20%;
        overflow: hidden;
    }
    
}
